.avatar {
    background-image: url('../../../../../assets/images/logo.png');
  }
  .active-link {
    font-weight: bold !important;
  }
  .mat-nav-list {
    width: 100;
  }
  .mat-nav-list a {
    display: block;
  }
  .mat-nav-list a .mat-icon {
    margin-right: 18px;
  }

  .nested-menu .nested {
    list-style-type: none;
  }
  .nested-menu .submenu {
    display: none;
    height: 0;
  }
  .nested-menu .expand.submenu {
    display: block;
    list-style-type: none;
    height: auto;
    margin: 0;
  }
  .nested-menu .expand.submenu li a {
    padding: 10px;
    display: block;
  }