<mat-sidenav-container >

<mat-sidenav #sidenav mode="side" opened="true">
 <mat-nav-list>

   <mat-list-item [routerLink]="'home'" class="item">
    <mat-icon mat-list-icon >home</mat-icon>
   </mat-list-item>

   <mat-list-item [routerLink]="'reportes'">
    <mat-icon mat-list-icon class="">bar_chart</mat-icon>
    <span>Reportes</span>
   </mat-list-item>
 <mat-divider></mat-divider>

   <mat-list-item [routerLink]="'Algoritmo'">
    <mat-icon mat-list-icon class="">blur_on</mat-icon>
    <span>Algoritmo genético</span>
   </mat-list-item>

   <mat-list-item>
    <mat-icon mat-list-icon class="">offline_bolt</mat-icon>
    <span>Flujo optimo de potencia</span>
   </mat-list-item>

   <mat-list-item>
    <mat-icon mat-list-icon class="">code</mat-icon>
    <span> Análisis de vulnerabilidad</span>
   </mat-list-item>

   

 </mat-nav-list>
</mat-sidenav>


    <mat-toolbar>
        Gestión de vulnerabilidad
    </mat-toolbar>
    
    <router-outlet></router-outlet>
    
  </mat-sidenav-container>

    
   
    





  



