<mat-sidenav-container autozise="true">
  <mat-sidenav class="sidenav" mode="side" opened="true" [style.width]="expanded ? '280px' : '55px'" autozise="false">
    <mat-nav-list>
     <mat-list-item>
      <mat-icon mat-list-icon class="chevron-button sidenav-button" 
      (click)="expander()" [ngClass]="{'rotated': expanded}"
      >reorder</mat-icon>
     </mat-list-item>

     <mat-divider></mat-divider>

     <mat-list-item [routerLink]="'reportes'">
      <mat-icon mat-list-icon class="">bar_chart</mat-icon>
      <span *ngIf="expanded">Reportes</span>
     </mat-list-item>

   <mat-divider style="background-color:rgb(185, 211, 160);opacity:0.6;"></mat-divider>

     <mat-list-item [routerLink]="'Algoritmo'">
      <mat-icon mat-list-icon class="">blur_on</mat-icon>
      <span  *ngIf="expanded">Algoritmo genético</span>
     </mat-list-item>

     <mat-divider style="background-color:rgb(165, 202, 202);opacity:1.2;"></mat-divider>

     <mat-list-item [routerLink]="'Analisis'">
      <mat-icon mat-list-icon class="">code</mat-icon>
      <span  *ngIf="expanded"> Análisis de vulnerabilidad</span>
     </mat-list-item>

     <mat-divider style="background-color:rgb(238, 180, 146);opacity:1.2;"></mat-divider>


     <mat-list-item [routerLink]="'Flujo'">
      <mat-icon mat-list-icon class="">offline_bolt</mat-icon>
      <span  *ngIf="expanded">Flujo optimo de potencia</span>
     </mat-list-item>

     <mat-divider style="background-color:rgb(228, 228, 228);opacity:1.2;"></mat-divider>

   </mat-nav-list>
  </mat-sidenav>
<mat-sidenav-content [ngClass]="{'disabled':expanded}">
  <div>
    <mat-toolbar  style="position: sticky;">
      <div>
      <mat-icon style="padding-right:20px;color:rgb(46, 43, 43);">fiber_manual_record</mat-icon>
      Gestión de vulnerabilidad
    </div>
    <div>
     <span>xd</span>
    </div>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-content>
  </mat-sidenav-container>









    
  
    





  



