<mat-sidenav-container autozise="true">
  <mat-sidenav class="sidenav" mode="side" opened="true" [style.width]="expanded ? '280px' : '55px'" autozise="false">
    <mat-nav-list>
     <mat-list-item>
      <mat-icon mat-list-icon class="chevron-button sidenav-button" 
      (click)="expander()" [ngClass]="{'rotated': expanded}"
      >reorder</mat-icon>
     </mat-list-item>

     
   <mat-divider style="background-color:rgb(185, 211, 160);opacity:0.6;"></mat-divider>

     <mat-list-item [routerLink]="'Algoritmo'">
      <mat-icon mat-list-icon class="" title="Algoritmo">blur_on</mat-icon>
      <span  *ngIf="expanded">Algoritmo genético</span>
     </mat-list-item>

     <mat-divider style="background-color:rgb(165, 202, 202);opacity:1.2;"></mat-divider>

     <mat-list-item [routerLink]="'Analisis'">
      <mat-icon mat-list-icon class="" title="Analisis">code</mat-icon>
      <span  *ngIf="expanded"> Análisis de vulnerabilidad</span>
     </mat-list-item>

     <mat-divider style="background-color:rgb(238, 180, 146);opacity:1.2;"></mat-divider>


     <mat-list-item [routerLink]="'Flujo'">
      <mat-icon mat-list-icon class="" title="Flujo">offline_bolt</mat-icon>
      <span  *ngIf="expanded">Flujo optimo de potencia</span>
     </mat-list-item>

     <mat-divider style="background-color:rgb(228, 228, 228);opacity:1.2;"></mat-divider>
     

     <mat-list-item [routerLink]="'Reportes'">
      <mat-icon mat-list-icon class="" title="Reportes">bar_chart</mat-icon>
      <span *ngIf="expanded">Reportes</span>
     </mat-list-item>
     <mat-divider></mat-divider>
   </mat-nav-list>
  </mat-sidenav>
<mat-sidenav-content [ngClass]="{'disabled':expanded}">
  <div style="overflow: inherit;">
    <mat-toolbar  style="position: sticky">
      <span style="flex: 1 1 auto">Análisis de vulnerabilidad</span>
    <span style="flex: 1 1 auto"></span>
    <button mat-button [matMenuTriggerFor]="stationMenu" style="float: right; position: absolute;margin-top:10px;
    top: 8px;
    right: 16px;">
      <mat-icon>keyboard_arrow_down</mat-icon>
      
    </button>
    <mat-menu #stationMenu="matMenu" style="height:300px;">
      <div *ngIf="user">
      <img src={{user.photoUrl}}  width="73px" height="73px" style="align-items:middle;margin:7px 100px">
        <span style="padding-left:15px;padding-right: 5px;padding-top:10px;">{{user.name}}</span>
        <h4 style="padding-left:10px;padding-right: 5px;padding-top:1px;">{{user.email}}</h4>
        <button  mat-stroked-button mdbWavesEffect (click)="CerrarSesion()"
        style="padding-left:100px;
               padding-right: 90px;
              padding-top:1px;">
              Cerrar Sesión
        </button>
      </div>
      </mat-menu>
  </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-content>
  </mat-sidenav-container>









    
  
    





  



