.resultados{
    margin-left: 30%;
    margin-top:0%
}

.alert {
    padding: 20px;
    background-color: #353232; /* Red */
    color: white;
    margin-bottom: 15px;
  }

  .spinner-wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  
  .mat-spinner::ng-deep circle {

    stroke: #7a7a7a;
    position: absolute;
    }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }