
<mat-tab-group #tabs style="margin-left:2%;width:85%;margin-top:3%;">

    <mat-tab label="Análisis"> 
    </mat-tab>
</mat-tab-group>


<div class="container">
    <div class="row">
      <div class="col col-sm-3" style="margin-left:0%;margin-top:2%;">
        
<app-aux (datos)="realizaComunicacionHijo($event)"> </app-aux>
<br>       
<mat-form-field  appearance="legacy">
    <mat-select placeholder="Población de interdicción">
        <mat-option *ngFor="let item of pob">
        {{item.join(' ')}}                           
    </mat-option>
        </mat-select>
    </mat-form-field>     
<br>
                <mat-form-field  appearance="legacy">
                    <mat-select placeholder=" Vector de interdicción"  >
                        <mat-option >
                          {{title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
<br>
<div>
    <button mat-stroked-button mdbWavesEffect (click)="RealizarAnalisis()">Realizar análisis</button>             
</div>
      </div>
      <div class="col-lg border">
       <br>
        <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm" cellspacing="0"
        width="100%">
          <thead>							
              <tr>
                <th>Costo operación ($/MWH)</th>
                <th>COSTO DESLASTRE ($/MWH)</th>
                <th>U1</th>
                <th>U2</th>
                <th>U3</th>
              </tr>
            </thead>
          <tbody >
             
                  <tr *ngFor="let items of resultados">
                <td *ngFor="let item of items">{{item}}</td>
              </tr>
              
              
          </tbody>
        </table>

      </div>
    </div>
  </div>